%header
  %div.logotype <strong>pio</strong><em>&middot;io</em>
.article-standard
  %p is a decentralised and federated platform for micro-publishing and communication.
  %p Centralisation is so last century.