%header
  %div.logotype
    <strong>Pio</strong>
    <em>&middot; published input/output</em>
.article-standard
  %p Pio is a decentralised and federated platform for micro-publishing and communication.

  %form.single-field
    %header.title
      %h3 Interested?
    %div.field
      %input{type: 'email', placeholder: 'you@riseup.net'}
    %div.action
      %input{type: 'submit', value: 'Notify me'}
